main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.832), rgba(0, 0, 0, 0.821)), url("images/traffic-vehicle-urban-reflections-city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;

}

.navbar {

    background-color: #2b2024c4;
}

.switchnav {
    color: white;
}

.switchnav:hover {

    color: red !important;
}

#midle-part {
    min-height: 300px;

}

.sign-in {
    background-color: rgba(255, 255, 255, 0.638);

    border-radius: 5px;
    position: relative;
    animation: right 2s ease-in 0s 1 alternate-reverse;
}

@keyframes left {
    from {
        left: 0px;
    }

    to {
        left: -1000px;
    }
}

@keyframes right {
    from {
        right: 0px;
    }

    to {
        right: -200px;
    }
}



.mid-logo {
    position: relative;
    animation: left 2s ease-in 0s 1 alternate-reverse;
}

.transparent {
    /* background-color: rgba(255, 255, 255, 0.115);
     */
    background: #2b2024c4;


}

.dropdown-form {
    background-color: #e7e7e7;
    color: #403f3f;
}

.mini-text {
    font-size: 12px;
}